Rather than having one X entry for each day, tune the code so that there can be one X entry for each location on each day. This will be put the data in a form that is convenient for feature engineering.

In [3]:
import os
os.chdir('..')

In [4]:
import solar.wrangle.wrangle
from solar.wrangle.wrangle import SolarData

In [67]:
reload(solar.wrangle.wrangle)
from solar.wrangle.wrangle import SolarData

station = ['ACME', 'BEAV']
train_dates = ['2005-07-29','2005-08-29']
test_dates = ['2008-12-29', '2009-01-29']
#var = ['dswrf_sfc', 'uswrf_sfc', 'spfh_2m', 'ulwrf_tatm']
var = ['dswrf_sfc']
models = [0]
times = [18]
lats = range(37,38)
longs = range(265,268)
X_par = {'train_dates':train_dates, 'test_dates':test_dates, 'var':var, 'models':models, 'times':times, 'lats':lats,
        'longs':longs}
y_par = {'station':station, 'train_dates':train_dates, 'lats':lats, 'longs':longs}
trainX, trainy, testX = SolarData.load('solar/data/kaggle_solar/train/', 'solar/data/kaggle_solar/train.csv', 
                                'solar/data/kaggle_solar/test', 'solar/data/kaggle_solar/station_info.csv', 
                                learn_type='one_to_location', station=station, train_dates=train_dates, 
                                test_dates=test_dates, lats=lats, longs=longs, var=var, models=models, times=times)

Training data shape (64, 3) (64, 1)

In [4]:
import solar.wrangle.engineer

In [43]:
reload(solar.wrangle.engineer)
from solar.wrangle.engineer import Engineer

station = ['ACME', 'BEAV']
train_dates = ['2005-07-29','2005-08-29']
test_dates = ['2008-12-29', '2009-01-29']
var = ['dswrf_sfc', 'uswrf_sfc', 'spfh_2m', 'ulwrf_tatm']
#var = ['dswrf_sfc']
models = [0,1]
times = [18,21]
lats = range(37,38)
longs = range(265,268)
X_par = {'train_dates':train_dates, 'test_dates':test_dates, 'var':var, 'models':models, 'times':times, 'lats':lats,
        'longs':longs}
y_par = {'station':station, 'train_dates':train_dates, 'lats':lats, 'longs':longs}
new_feats = {'grid'}
trainX, trainy, testX, locy = Engineer.engineer('solar/data/kaggle_solar/train/', 'solar/data/kaggle_solar/train.csv', 
                                'solar/data/kaggle_solar/test/', 'solar/data/kaggle_solar/station_info.csv',
                                X_par, y_par, new_feats)

In [44]:
trainX.shape

(64, 64)

In [51]:
import solar.wrangle.wrangle
import solar.wrangle.engineer

In [68]:
reload(solar.wrangle.wrangle)
reload(solar.wrangle.engineer)


from solar.wrangle.wrangle import SolarData
from solar.wrangle.engineer import Engineer

station = ['ACME', 'BEAV']
train_dates = ['2005-07-29','2005-08-29']
test_dates = ['2008-12-29', '2009-01-29']
#var = ['dswrf_sfc', 'uswrf_sfc', 'spfh_2m', 'ulwrf_tatm']
var = ['dswrf_sfc']
models = [0]
times = [18]
lats = range(37,38)
longs = range(265,268)
new_feats = {'grid'}
X_par = {'train_dates':train_dates, 'test_dates':test_dates, 'var':var, 'models':models, 'times':times, 'lats':lats,
        'longs':longs}
y_par = {'station':station, 'train_dates':train_dates, 'lats':lats, 'longs':longs}
input_data = SolarData.load('solar/data/kaggle_solar/train/', 'solar/data/kaggle_solar/train.csv', 
                                'solar/data/kaggle_solar/test', 'solar/data/kaggle_solar/station_info.csv',
                                new_feats, station=station, train_dates=train_dates, 
                                test_dates=test_dates, lats=lats, longs=longs, var=var, models=models, times=times)

Training data shape (32, 4) (32, 2)

In [71]:
input_data[1]

location        ACME      BEAV
date
2005-07-29  28302900  29221200
2005-07-30  26890800  27926700
2005-07-31  26932200  27732300
2005-08-01  26653800  27705600
2005-08-02  26087700  27396000
2005-08-03  26110200  26341200
2005-08-04  21778200  13657500
2005-08-05  23165700  21474300
2005-08-06  16723200  21845400
2005-08-07  19678500  25909500
2005-08-08  14941200  23597700
2005-08-09  23424900  26688300
2005-08-10  23497200  22423200
2005-08-11  21048900  24960900
2005-08-12  23110800  17272500
2005-08-13  12648300   9591000
2005-08-14   5879700   4396200
2005-08-15   8742600   9235500
2005-08-16   6998100  11945700
2005-08-17  23789700  24288600
2005-08-18  25192500  23188500
2005-08-19  24472500  24807900
2005-08-20  24631500  17841600
2005-08-21  20253900   9878700
2005-08-22  22303500  23787900
2005-08-23  19127400  24324000
2005-08-24  24222300  23621100
2005-08-25  23527800  21767400
2005-08-26  24054900  24712200
2005-08-27   3354300  24649500
2005-08-28  20629200  22219200
2005-08-29  23314500  24656700