In [37]:
import pandas as pd

In [38]:
train_data = pd.read_csv('../data/kaggle_solar/train.csv', index_col='Date', parse_dates=['Date'])
train_data

,ACME,ADAX,ALTU,APAC,ARNE,BEAV,BESS,BIXB,BLAC,BOIS,...,VINI,WASH,WATO,WAUR,WEAT,WEST,WILB,WIST,WOOD,WYNO
Date,,,,,,,,,,,,,,,,,,,,,
1994-01-01,12384900,11930700,12116700,12301200,10706100,10116900,11487900,11182800,10848300,10225200,...,10771800,12116400,11308800,12361800,11331600,10644300,11715600,11241000,10490100,10545300
1994-01-02,11908500,9778500,10862700,11666400,8062500,9262800,9235200,3963300,3318300,11316600,...,4314300,10733400,9154800,12041400,9168300,4082700,9228000,5829900,7412100,3345300
1994-01-03,12470700,9771900,12627300,12782700,11618400,10789800,11895900,4512600,5266500,11916000,...,2976900,11775000,10700400,12687300,11324400,2746500,3686700,4488900,9712200,4442100
1994-01-04,12725400,6466800,13065300,12817500,12134400,11816700,12186600,3212700,8270100,11884200,...,3476400,12159600,11907000,12953100,11903700,2741400,4905000,4089300,11401500,4365000
1994-01-05,10894800,11545200,8060400,10379400,6918600,9936300,6411300,9566100,8009400,9288900,...,6393300,11419500,7334400,10178700,7471500,8235300,11159100,10651500,10006200,8568300
1994-01-06,6639000,6817200,8157900,7673100,3500400,2245200,9719400,6137100,4328700,4001400,...,5257200,6687000,5631600,7990500,9402600,8463600,7323900,7113600,2124600,3324300
1994-01-07,13244700,12418800,12369900,12873000,12181800,9877800,12114300,12175200,11836500,11647800,...,11495100,12486300,12098700,13191300,11855100,11494800,12620400,12380700,10944900,11403600
1994-01-08,12927900,12375600,12634500,13066500,11608800,11545200,12029400,12217500,11505300,11977800,...,11284800,12471300,12072300,10429500,11939100,11280300,12419700,12225900,11029200,11268900
1994-01-09,12600300,11601000,12156000,12464700,10866000,11295300,11937900,10443300,9218400,11600100,...,8755800,12391800,11369400,11324400,11498700,9737100,11985000,11454900,10518300,8577300
1994-01-10,6406500,3935700,12321900,8164800,11328600,10785000,12081600,1873800,9658800,9771000,...,3155100,3879900,11709300,3808500,11526900,2064300,7641000,2282400,10859700,2520600
1994-01-11,12743400,7137000,12966300,12774600,12005100,11424900,12149400,2835600,2574000,11221500,...,3411600,12371400,11973000,12872400,11970900,1908000,1998300,1577100,11256600,2923500
1994-01-12,10453500,7371000,12855300,11448000,11493000,11794200,11780400,6759900,3571800,12265500,...,2370600,8449200,11049000,8650500,11623200,5994300,4441500,6324900,10424100,7131000
1994-01-13,12985200,12510600,13198500,12726900,12289200,12149100,12467100,9930900,9628500,12448200,...,8013000,12463200,12099900,13268400,12205500,10277100,9863700,8588400,11655300,10062300
1994-01-14,13080000,12552000,13446600,13026600,12393000,12227700,12488700,10799100,10770900,12717900,...,6584100,12793800,12221100,12990000,12166800,5569500,11459400,11072100,11614200,9288600
1994-01-15,11826300,11997300,11313300,11793300,10750200,10290600,11184600,12337500,11489700,10701300,...,8565600,11604000,12094800,11343900,10906500,11029500,12093300,12119100,10898700,10905000
1994-01-16,1974000,1339800,3120600,1058700,7187100,9792900,1405500,711900,1133700,4914600,...,640200,1401300,1288500,1257600,1125300,739800,756900,469500,3777300,748500
1994-01-17,13541700,13021200,13757100,13432800,12486600,11738100,12719700,7774200,9512400,11742300,...,10155300,13079400,12507900,13869000,12336300,11681100,9247500,10576200,11586900,9893100
1994-01-18,13673700,13042200,13881000,13586100,13158300,12724200,12984000,9400800,11339400,12993900,...,8709300,13125900,12694500,13959900,12517800,12465000,12720600,10228200,12076800,10843800
1994-01-19,6796800,8217000,13563300,7861800,13200900,13184700,12884700,10399500,12214500,13547100,...,8323200,7311600,12622800,5567400,12464700,14057400,11255400,12093900,12372300,10474200
1994-01-20,5658900,4757700,1976100,4926000,3088800,10210500,3547200,10607100,5247900,11056500,...,4558800,5358300,5883600,2109900,4254900,6372900,8222700,9356400,6758100,7672200
1994-01-21,7073400,10822800,4021800,6464100,4468500,11169300,5096100,12288000,11910300,13327500,...,11721600,9132300,7908900,3649500,6578100,11701200,12758400,12867300,5543700,11705100
1994-01-22,3354000,2764800,2997900,2726100,8875800,12647400,2881500,3448500,8096400,13691400,...,7866600,2923200,4995000,1614900,3245400,3254100,3469800,2306100,9792600,5962200
1994-01-23,2579700,2339100,6508500,5418600,12936900,12553500,9266400,1948800,6969000,13654500,...,2103000,2631900,10932900,2564700,8967900,1685400,2399700,2453400,12991800,3377100
1994-01-24,2387700,2096700,6390000,3164700,9348300,7642200,5437500,1742100,3155100,12746700,...,1695300,2771400,5281800,3616500,4453500,1114200,2427300,1808400,9188100,2060700
1994-01-25,8390700,8621700,11639100,11404200,11722200,13093500,11776500,7530900,4177200,12782100,...,6538500,9204900,8374800,12530400,10918200,6499500,7495200,6218700,12260100,7261800
1994-01-26,7326600,8104500,10221900,8622300,12958500,7973100,11801400,5955000,7979100,5056800,...,3879300,8131500,11583600,8124000,11062800,3655800,6165600,3794100,11837400,6168900
1994-01-27,10743900,8913000,13336500,11616000,12311700,9855300,13071000,10467300,11326800,6410700,...,6998400,10048800,12608400,11251800,12623100,5641200,5928900,4412100,12267900,11280000
1994-01-28,12812100,13680900,12890700,13834800,13994700,13548000,13434300,11479200,8445900,14073300,...,9601500,13080300,11967900,12759300,12837300,9696300,12404400,10782600,11917500,8725500
1994-01-29,9065100,5018100,10373700,10304100,13456800,13098600,13869900,8671200,12211500,10593300,...,12647400,7510500,13708200,5198700,13585800,7622400,5036400,4905000,12272700,11245500
1994-01-30,3954900,7685700,3863100,4220700,5629200,2520000,5959500,11066400,6694800,10060800,...,9793800,6205500,5371200,6331800,6069600,12349500,9744900,10736400,5056800,7212000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-12-02,12177000,11132400,12620100,11796600,11907000,12604500,11340600,7562100,8957100,13031100,...,5517600,10997700,10304400,12716700,11124600,3845700,8625000,7135500,10745100,7718700
2007-12-03,13453800,12737700,12828300,12809700,12264300,12439200,12496800,12446100,11181000,12279300,...,11936700,13204500,12599400,13403400,12964500,12735900,13133100,12933900,11300400,12414000
2007-12-04,12525900,10054800,12328200,12057900,12027900,11833500,11980200,10532100,9660300,11604000,...,10314000,12219900,12349200,12531600,12132600,10984800,12141600,11658900,10941300,10495500
2007-12-05,10543500,8691900,12200100,11790300,9699300,10742100,12017700,10608900,10084500,10360800,...,7831500,10752600,11216700,10968900,12183600,9241500,8371200,8967900,9399900,11064900
2007-12-06,6214500,5707500,6339900,6242400,7813800,8302800,6486600,5260200,2649300,8589000,...,2001300,7011000,6879900,7605000,7298700,3600900,5550900,5042700,6977700,3435000
2007-12-07,8417400,6139800,6981000,6928200,2229600,1899600,2492100,1154700,1651800,2325600,...,1268700,6294300,1935000,10633800,3195900,1305000,3027000,2423100,1835700,1757400
2007-12-08,1683900,1832700,2153700,1853400,2145600,1705200,1886100,1878000,1591200,2178900,...,1500000,1853400,1761000,1690200,2251500,1556100,4414800,5186100,1826400,1762500
2007-12-09,1512300,1394400,1685700,1443900,3815100,5288700,2505600,1129800,3070200,6526800,...,1245900,1558800,2174100,1551300,2354400,1321500,1269300,1362300,3344400,1480200
2007-12-10,1729500,1530600,1451400,1747500,1628400,3313200,1207800,1018500,2247000,3703800,...,1927800,1509300,1086000,1509000,1559400,1415400,1537200,1957500,2050800,2024400
2007-12-11,1512600,819600,1236900,1648800,2398800,2607600,1206600,1074300,1185600,6196500,...,1446900,1281600,1359000,1127400,1397700,1154700,1028100,2350500,1860900,1549800
2007-12-12,2126100,1477500,5262600,2496900,6317400,8295600,5603100,1671900,1977300,5775600,...,1392000,1669200,2820000,2087100,4227900,1423800,1272300,916500,4206300,1726800
2007-12-13,3476400,3016200,8252400,3503700,11037600,11493600,5314800,2861700,3190500,11751300,...,2737500,3606900,4408800,3242400,4901700,4254600,3825000,3884700,10216500,3342000
2007-12-14,1262700,1544700,921000,1227000,1224300,1073100,1342200,2343000,1903800,2328000,...,6358800,1354200,1438800,1148100,1734000,5733600,2664600,4408500,1123800,1885800
2007-12-15,3074400,1500600,6650400,3486300,7247400,9481800,6552000,1593000,6715200,12621300,...,2708700,3045600,7341600,3783000,6811500,1209300,1220700,1414500,5080800,4438800
2007-12-16,12523800,12006300,12210300,12167100,11643000,12363300,11934600,11676900,10769100,12169500,...,11114700,12364200,13882200,12572400,12260400,11368200,12465300,11695800,11119800,11652000
2007-12-17,12089700,11742900,12130200,11095800,10793100,11952600,10750200,11702700,10053900,12065700,...,10693800,12084300,11665800,11436600,11346600,11470500,12253200,11610000,10333500,10910400
2007-12-18,12300600,11602500,12087900,11866200,11452500,11811900,11696700,11232600,10142100,11917500,...,10272300,12104700,11622300,12438300,10248000,9291600,11736900,10968300,10684800,10991700
2007-12-19,12206100,11478000,12020400,11741100,10871400,11946600,11505600,11184600,9769800,11463600,...,9334800,11976900,11744400,12171600,11703000,11015700,11782800,11303100,10367700,9920100
2007-12-20,12275700,11530800,12134400,11865600,11614800,11707500,11698800,11053200,10116900,11391300,...,10092600,10224300,11861700,12374400,11761500,8301000,8917500,7947300,10679100,11154000
2007-12-21,9737700,9611100,8948400,8915100,10750800,8196000,10429500,9107700,8867700,4569900,...,8824800,9253500,11017500,10610400,10148700,8847600,9985200,9971700,9173100,9162900
2007-12-22,1958400,2235300,2364900,2108700,5511000,8464800,2461800,677100,1535400,11910300,...,597600,1733100,2578200,1802400,2522700,2739600,6989100,7298400,4391700,902400
2007-12-23,12325200,11827200,11969100,11844900,11698500,10371300,11761200,11413200,10904400,8301600,...,11088900,12319800,12013800,12653400,12035100,11593500,12151200,11898000,9895800,11434800
2007-12-24,12225900,11599500,12061500,11865300,11774700,11851800,11720400,11379600,10454100,12301800,...,10995600,12055800,12075900,12308100,11938200,11466300,11734800,11522100,10793700,11464800
2007-12-25,12256500,11818200,12093000,11823000,11540400,9601500,11670000,11565300,10189500,6612600,...,11088600,12075300,11924400,12457800,11772600,11641200,12170400,11836800,10649700,11517300
2007-12-26,1851300,1551600,3227700,1722900,7181100,11574900,3165000,3704100,2848500,12444300,...,1938300,2681400,2894400,3147300,3001200,1406400,1595400,1460700,6298200,2382300
2007-12-27,1408500,1371000,1742400,1389300,1349400,1466400,1245900,1674000,922500,1836900,...,1511100,1220700,1083300,1887900,1467900,1404000,1510500,1747500,1079100,1100400
2007-12-28,10060800,6581700,12027300,11312100,9665100,7993800,11962200,9010500,5747700,12528000,...,3735600,7612500,6875700,12105300,11741700,3844800,7136100,5670000,7592400,6705900
2007-12-29,11388000,11353800,11946900,9662400,10938300,11315100,11402400,10683300,8954400,12625200,...,10457700,10316700,10559700,11873100,11369400,10711500,11822100,11594100,9687900,10586400
2007-12-30,12441000,11883300,12409200,12155400,11937600,12314100,12006000,11695800,10249500,12436800,...,11152800,12258900,12251100,12754200,12230100,11771100,12162900,11933400,10940700,11281800
2007-12-31,12450300,12104100,12015600,12516600,8480100,9302400,11198100,9687300,9957900,6465000,...,10182000,11819700,10313700,12808200,11411700,9657300,11844600,11749800,8191800,11211300

In [39]:
train_subset = train_data.iloc[1:10,1:5]

In [40]:
#from IPython.display import HTML
#h = HTML(train_subset.to_html())
#h

In [41]:
#my_file = open('training_table.html', 'w')
#my_file.write(h.data)
#my_file.close()

In [42]:
train_data.describe()

,ACME,ADAX,ALTU,APAC,ARNE,BEAV,BESS,BIXB,BLAC,BOIS,...,VINI,WASH,WATO,WAUR,WEAT,WEST,WILB,WIST,WOOD,WYNO
count,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,...,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000,5113.000000
mean,16877461.905730,16237533.976922,17119188.785449,17010565.323685,17560172.951301,17612143.106591,17304074.163896,15969634.239781,16061706.559750,18688943.328770,...,15737219.137102,16648738.627029,16959415.475064,17039770.702132,17074429.121846,15331710.153726,16000551.338549,15657185.094465,17423402.112263,16085012.467827
std,7869605.526802,7905850.186795,7702988.903868,7883454.714726,7917965.455491,7911266.904312,7868140.288343,8062980.847485,7770309.634724,7649349.109085,...,7985206.316175,7976416.045852,7874450.103415,7756530.597189,7703919.156670,7998918.980360,7949959.097672,7909371.166866,8031638.098033,8039835.863622
min,12000.000000,510000.000000,900.000000,3300.000000,477300.000000,300.000000,510600.000000,74700.000000,36000.000000,467100.000000,...,174600.000000,78000.000000,616200.000000,3300.000000,759300.000000,36000.000000,6300.000000,16800.000000,188400.000000,87000.000000
25%,11404200.000000,10611000.000000,11674500.000000,11637000.000000,11666400.000000,11493600.000000,11712600.000000,9794700.000000,10485760.000000,12463800.000000,...,9699328.000000,11013600.000000,11443200.000000,11781300.000000,11589300.000000,9437184.000000,10352100.000000,9908700.000000,11401200.000000,10075500.000000
50%,16946400.000000,16299300.000000,17073600.000000,17062500.000000,17578500.000000,17520900.000000,17176500.000000,15725700.000000,15873000.000000,18885900.000000,...,15603900.000000,16595100.000000,16838700.000000,17215200.000000,17029500.000000,14898600.000000,15833100.000000,15548100.000000,17354100.000000,16037400.000000
75%,23734800.000000,23027400.000000,23903700.000000,23909400.000000,24503700.000000,24683100.000000,24241200.000000,22940400.000000,22938300.000000,25364100.000000,...,22657500.000000,23586600.000000,23992800.000000,23695500.000000,23742300.000000,22132500.000000,22705500.000000,22593600.000000,24557700.000000,23093700.000000
max,31347900.000000,31227000.000000,31411500.000000,31616100.000000,32645700.000000,32884800.000000,31887900.000000,31702200.000000,30771900.000000,32922000.000000,...,31214100.000000,31917600.000000,31414200.000000,31262400.000000,31746600.000000,32030100.000000,31902300.000000,31087800.000000,32695500.000000,31466400.000000

In [43]:
train_data.head()

,ACME,ADAX,ALTU,APAC,ARNE,BEAV,BESS,BIXB,BLAC,BOIS,...,VINI,WASH,WATO,WAUR,WEAT,WEST,WILB,WIST,WOOD,WYNO
Date,,,,,,,,,,,,,,,,,,,,,
1994-01-01,12384900,11930700,12116700,12301200,10706100,10116900,11487900,11182800,10848300,10225200,...,10771800,12116400,11308800,12361800,11331600,10644300,11715600,11241000,10490100,10545300
1994-01-02,11908500,9778500,10862700,11666400,8062500,9262800,9235200,3963300,3318300,11316600,...,4314300,10733400,9154800,12041400,9168300,4082700,9228000,5829900,7412100,3345300
1994-01-03,12470700,9771900,12627300,12782700,11618400,10789800,11895900,4512600,5266500,11916000,...,2976900,11775000,10700400,12687300,11324400,2746500,3686700,4488900,9712200,4442100
1994-01-04,12725400,6466800,13065300,12817500,12134400,11816700,12186600,3212700,8270100,11884200,...,3476400,12159600,11907000,12953100,11903700,2741400,4905000,4089300,11401500,4365000
1994-01-05,10894800,11545200,8060400,10379400,6918600,9936300,6411300,9566100,8009400,9288900,...,6393300,11419500,7334400,10178700,7471500,8235300,11159100,10651500,10006200,8568300

In [44]:
train_data.tail()

,ACME,ADAX,ALTU,APAC,ARNE,BEAV,BESS,BIXB,BLAC,BOIS,...,VINI,WASH,WATO,WAUR,WEAT,WEST,WILB,WIST,WOOD,WYNO
Date,,,,,,,,,,,,,,,,,,,,,
2007-12-27,1408500,1371000,1742400,1389300,1349400,1466400,1245900,1674000,922500,1836900,...,1511100,1220700,1083300,1887900,1467900,1404000,1510500,1747500,1079100,1100400
2007-12-28,10060800,6581700,12027300,11312100,9665100,7993800,11962200,9010500,5747700,12528000,...,3735600,7612500,6875700,12105300,11741700,3844800,7136100,5670000,7592400,6705900
2007-12-29,11388000,11353800,11946900,9662400,10938300,11315100,11402400,10683300,8954400,12625200,...,10457700,10316700,10559700,11873100,11369400,10711500,11822100,11594100,9687900,10586400
2007-12-30,12441000,11883300,12409200,12155400,11937600,12314100,12006000,11695800,10249500,12436800,...,11152800,12258900,12251100,12754200,12230100,11771100,12162900,11933400,10940700,11281800
2007-12-31,12450300,12104100,12015600,12516600,8480100,9302400,11198100,9687300,9957900,6465000,...,10182000,11819700,10313700,12808200,11411700,9657300,11844600,11749800,8191800,11211300

In [45]:
train_data.columns

Index([u'ACME', u'ADAX', u'ALTU', u'APAC', u'ARNE', u'BEAV', u'BESS', u'BIXB',
       u'BLAC', u'BOIS', u'BOWL', u'BREC', u'BRIS', u'BUFF', u'BURB', u'BURN',
       u'BUTL', u'BYAR', u'CAMA', u'CENT', u'CHAN', u'CHER', u'CHEY', u'CHIC',
       u'CLAY', u'CLOU', u'COOK', u'COPA', u'DURA', u'ELRE', u'ERIC', u'EUFA',
       u'FAIR', u'FORA', u'FREE', u'FTCB', u'GOOD', u'GUTH', u'HASK', u'HINT',
       u'HOBA', u'HOLL', u'HOOK', u'HUGO', u'IDAB', u'JAYX', u'KENT', u'KETC',
       u'LAHO', u'LANE', u'MADI', u'MANG', u'MARE', u'MAYR', u'MCAL', u'MEDF',
       u'MEDI', u'MIAM', u'MINC', u'MTHE', u'NEWK', u'NINN', u'NOWA', u'OILT',
       u'OKEM', u'OKMU', u'PAUL', u'PAWN', u'PERK', u'PRYO', u'PUTN', u'REDR',
       u'RETR', u'RING', u'SALL', u'SEIL', u'SHAW', u'SKIA', u'SLAP', u'SPEN',
       u'STIG', u'STIL', u'STUA', u'SULP', u'TAHL', u'TALI', u'TIPT', u'TISH',
       u'VINI', u'WASH', u'WATO', u'WAUR', u'WEAT', u'WEST', u'WILB', u'WIST',
       u'WOOD', u'WYNO'],
      dtype='object')

In [46]:
train_data.index

DatetimeIndex(['1994-01-01', '1994-01-02', '1994-01-03', '1994-01-04',
               '1994-01-05', '1994-01-06', '1994-01-07', '1994-01-08',
               '1994-01-09', '1994-01-10',
               ...
               '2007-12-22', '2007-12-23', '2007-12-24', '2007-12-25',
               '2007-12-26', '2007-12-27', '2007-12-28', '2007-12-29',
               '2007-12-30', '2007-12-31'],
              dtype='datetime64[ns]', name=u'Date', length=5113, freq=None)

In [47]:
train_data.shape

(5113, 98)

In [48]:
train_data.values

array([[12384900, 11930700, 12116700, ..., 11241000, 10490100, 10545300],
       [11908500,  9778500, 10862700, ...,  5829900,  7412100,  3345300],
       [12470700,  9771900, 12627300, ...,  4488900,  9712200,  4442100],
       ...,
       [11388000, 11353800, 11946900, ..., 11594100,  9687900, 10586400],
       [12441000, 11883300, 12409200, ..., 11933400, 10940700, 11281800],
       [12450300, 12104100, 12015600, ..., 11749800,  8191800, 11211300]])

In [49]:
#one_file = pd.read_csv('33_260.csv')

In [50]:
#one_file.describe()

### Start changing this to an appropriately configured dataset with all trials as rows and columns just holding values

In [88]:
rot_df = pd.DataFrame(train_data.unstack().reset_index()[:])
rot_df.rename(columns={'level_0':'location','Date':'date',0:'total_solar'}, inplace=True)
#, columns=['location','date','total_solar'])

In [89]:
rot_df.set_index('date',inplace=True)

In [65]:
#rot_df

### Now merge with the location information

In [ ]:
loc_info = pd.read_csv('../data/kaggle_solar/station_info.csv', index_col='stid')

In [ ]:
#for_image = loc_info.iloc[0:5,:]
#h = HTML(for_image.to_html())
#my_file = open('station_table.html', 'w')
#my_file.write(h.data)
#my_file.close()

In [61]:
#loc_info

In [78]:
temp_df = rot_df.reset_index('location').merge(right=loc_info, left_on='location', right_index=True)
temp_df
temp_df = temp_df.reset_index()
temp_df.set_index(['date','location'],inplace=True)

In [80]:
full_train = temp_df[['nlat','elon','elev','total_solar']]

In [81]:
full_train

                         nlat      elon  elev  total_solar
date       location
1994-01-01 ACME      34.80833 -98.02325   397     12384900
1994-01-02 ACME      34.80833 -98.02325   397     11908500
1994-01-03 ACME      34.80833 -98.02325   397     12470700
1994-01-04 ACME      34.80833 -98.02325   397     12725400
1994-01-05 ACME      34.80833 -98.02325   397     10894800
1994-01-06 ACME      34.80833 -98.02325   397      6639000
1994-01-07 ACME      34.80833 -98.02325   397     13244700
1994-01-08 ACME      34.80833 -98.02325   397     12927900
1994-01-09 ACME      34.80833 -98.02325   397     12600300
1994-01-10 ACME      34.80833 -98.02325   397      6406500
1994-01-11 ACME      34.80833 -98.02325   397     12743400
1994-01-12 ACME      34.80833 -98.02325   397     10453500
1994-01-13 ACME      34.80833 -98.02325   397     12985200
1994-01-14 ACME      34.80833 -98.02325   397     13080000
1994-01-15 ACME      34.80833 -98.02325   397     11826300
1994-01-16 ACME      34.80833 -98.02325   397      1974000
1994-01-17 ACME      34.80833 -98.02325   397     13541700
1994-01-18 ACME      34.80833 -98.02325   397     13673700
1994-01-19 ACME      34.80833 -98.02325   397      6796800
1994-01-20 ACME      34.80833 -98.02325   397      5658900
1994-01-21 ACME      34.80833 -98.02325   397      7073400
1994-01-22 ACME      34.80833 -98.02325   397      3354000
1994-01-23 ACME      34.80833 -98.02325   397      2579700
1994-01-24 ACME      34.80833 -98.02325   397      2387700
1994-01-25 ACME      34.80833 -98.02325   397      8390700
1994-01-26 ACME      34.80833 -98.02325   397      7326600
1994-01-27 ACME      34.80833 -98.02325   397     10743900
1994-01-28 ACME      34.80833 -98.02325   397     12812100
1994-01-29 ACME      34.80833 -98.02325   397      9065100
1994-01-30 ACME      34.80833 -98.02325   397      3954900
...                       ...       ...   ...          ...
2007-12-02 WYNO      36.51806 -96.34222   269      7718700
2007-12-03 WYNO      36.51806 -96.34222   269     12414000
2007-12-04 WYNO      36.51806 -96.34222   269     10495500
2007-12-05 WYNO      36.51806 -96.34222   269     11064900
2007-12-06 WYNO      36.51806 -96.34222   269      3435000
2007-12-07 WYNO      36.51806 -96.34222   269      1757400
2007-12-08 WYNO      36.51806 -96.34222   269      1762500
2007-12-09 WYNO      36.51806 -96.34222   269      1480200
2007-12-10 WYNO      36.51806 -96.34222   269      2024400
2007-12-11 WYNO      36.51806 -96.34222   269      1549800
2007-12-12 WYNO      36.51806 -96.34222   269      1726800
2007-12-13 WYNO      36.51806 -96.34222   269      3342000
2007-12-14 WYNO      36.51806 -96.34222   269      1885800
2007-12-15 WYNO      36.51806 -96.34222   269      4438800
2007-12-16 WYNO      36.51806 -96.34222   269     11652000
2007-12-17 WYNO      36.51806 -96.34222   269     10910400
2007-12-18 WYNO      36.51806 -96.34222   269     10991700
2007-12-19 WYNO      36.51806 -96.34222   269      9920100
2007-12-20 WYNO      36.51806 -96.34222   269     11154000
2007-12-21 WYNO      36.51806 -96.34222   269      9162900
2007-12-22 WYNO      36.51806 -96.34222   269       902400
2007-12-23 WYNO      36.51806 -96.34222   269     11434800
2007-12-24 WYNO      36.51806 -96.34222   269     11464800
2007-12-25 WYNO      36.51806 -96.34222   269     11517300
2007-12-26 WYNO      36.51806 -96.34222   269      2382300
2007-12-27 WYNO      36.51806 -96.34222   269      1100400
2007-12-28 WYNO      36.51806 -96.34222   269      6705900
2007-12-29 WYNO      36.51806 -96.34222   269     10586400
2007-12-30 WYNO      36.51806 -96.34222   269     11281800
2007-12-31 WYNO      36.51806 -96.34222   269     11211300

[501074 rows x 4 columns]

In [104]:
compare1 = rot_df[rot_df['total_solar'] > 32000000].merge(loc_info,how='left',left_on='location',right_index=True)

In [120]:
compare1.reset_index().groupby('date').count()

            location  total_solar  nlat  elon  elev
date
1994-04-01         1            1     1     1     1
1994-04-07         1            1     1     1     1
1994-05-30         1            1     1     1     1
1994-06-14         1            1     1     1     1
1994-06-15         1            1     1     1     1
1994-06-16         3            3     3     3     3
1994-06-17         2            2     2     2     2
1995-06-06         1            1     1     1     1
1995-06-07         1            1     1     1     1
1995-06-12         1            1     1     1     1
1995-06-13         1            1     1     1     1
1996-06-08         3            3     3     3     3
1996-06-09         1            1     1     1     1
1996-06-19         3            3     3     3     3
1997-07-01         3            3     3     3     3
1997-07-02         1            1     1     1     1
1998-06-12         1            1     1     1     1
1998-06-13         2            2     2     2     2
1998-06-14         2            2     2     2     2
1998-06-15         1            1     1     1     1
1998-06-17         3            3     3     3     3
1998-06-18         9            9     9     9     9
1998-06-19         2            2     2     2     2
1998-06-20         4            4     4     4     4
1998-06-23         2            2     2     2     2
1998-06-25         2            2     2     2     2
1998-06-26         3            3     3     3     3
1998-06-27         2            2     2     2     2
1998-06-28         1            1     1     1     1
1999-05-18         1            1     1     1     1
...              ...          ...   ...   ...   ...
2002-06-14         1            1     1     1     1
2003-05-04         1            1     1     1     1
2003-05-08         1            1     1     1     1
2003-05-10         1            1     1     1     1
2003-05-11         1            1     1     1     1
2003-05-12         1            1     1     1     1
2003-05-21         1            1     1     1     1
2003-05-22         1            1     1     1     1
2003-05-28         1            1     1     1     1
2003-05-29         1            1     1     1     1
2003-05-30         1            1     1     1     1
2003-06-06         1            1     1     1     1
2003-06-08         1            1     1     1     1
2003-06-15         1            1     1     1     1
2003-06-22         1            1     1     1     1
2003-06-23         1            1     1     1     1
2003-06-24         1            1     1     1     1
2003-06-27         2            2     2     2     2
2003-06-30         1            1     1     1     1
2003-07-01         1            1     1     1     1
2003-07-03         1            1     1     1     1
2003-07-09         1            1     1     1     1
2003-07-17         1            1     1     1     1
2004-05-31         1            1     1     1     1
2004-06-11         2            2     2     2     2
2005-06-09         2            2     2     2     2
2006-05-27         1            1     1     1     1
2006-05-28         1            1     1     1     1
2007-06-07         2            2     2     2     2
2007-06-08         2            2     2     2     2

[79 rows x 5 columns]