In [32]:
import os
os.chdir('../scripts/')
import explore_training

In [76]:
reload(explore_training)
train_data, loc_data = explore_training.extract_subset('../data/kaggle_solar', 'nothing')

In [81]:
import pandas as pd
loc_data.columns.union(['location'])

Index([u'elev', u'lat', u'location', u'lon'], dtype='object')

In [126]:
reload(explore_training)
train_data, loc_data = explore_training.extract_subset('../data/kaggle_solar', 'nothing', 
                                                       lon=[262,264], lat=[36,37], elev=[200,300])

In [127]:
loc_data

         elev       lat        lon
station
OILT      255  36.03126  263.50251
PAWN      283  36.36114  263.23014
REDR      293  36.35590  262.84694
SKIA      282  36.41530  263.96294
STIL      272  36.12093  262.90473
WYNO      269  36.51806  263.65778

In [128]:
train_data

           location  total_solar
date
1994-01-01     OILT     11235600
1994-01-02     OILT      4707600
1994-01-03     OILT      5629800
1994-01-04     OILT      5654400
1994-01-05     OILT      9718500
1994-01-06     OILT      5739900
1994-01-07     OILT     12322200
1994-01-08     OILT     12009000
1994-01-09     OILT      9984300
1994-01-10     OILT      3854400
1994-01-11     OILT      3573300
1994-01-12     OILT      9181500
1994-01-13     OILT     11075400
1994-01-14     OILT     10623000
1994-01-15     OILT     11873400
1994-01-16     OILT       805500
1994-01-17     OILT     11514900
1994-01-18     OILT     11997000
1994-01-19     OILT     10345800
1994-01-20     OILT     10462800
1994-01-21     OILT     12287400
1994-01-22     OILT      4236300
1994-01-23     OILT      2634900
1994-01-24     OILT      2450100
1994-01-25     OILT      5896800
1994-01-26     OILT      8049000
1994-01-27     OILT     11982000
1994-01-28     OILT     10877400
1994-01-29     OILT     10470000
1994-01-30     OILT      7093800
...             ...          ...
2007-12-01     WYNO      1373700
2007-12-02     WYNO      7718700
2007-12-04     WYNO     10495500
2007-12-05     WYNO     11064900
2007-12-06     WYNO      3435000
2007-12-07     WYNO      1757400
2007-12-08     WYNO      1762500
2007-12-09     WYNO      1480200
2007-12-10     WYNO      2024400
2007-12-11     WYNO      1549800
2007-12-12     WYNO      1726800
2007-12-13     WYNO      3342000
2007-12-14     WYNO      1885800
2007-12-15     WYNO      4438800
2007-12-16     WYNO     11652000
2007-12-17     WYNO     10910400
2007-12-18     WYNO     10991700
2007-12-19     WYNO      9920100
2007-12-20     WYNO     11154000
2007-12-21     WYNO      9162900
2007-12-22     WYNO       902400
2007-12-23     WYNO     11434800
2007-12-24     WYNO     11464800
2007-12-25     WYNO     11517300
2007-12-26     WYNO      2382300
2007-12-27     WYNO      1100400
2007-12-28     WYNO      6705900
2007-12-29     WYNO     10586400
2007-12-30     WYNO     11281800
2007-12-31     WYNO     11211300

[29802 rows x 2 columns]